@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

input {
    outline: 0 !important;
    border: none;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
  

body * {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.button {
    border-radius: 2px;
    background: #E3B873;
    box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
    border: 0;
    outline: 0;
    color: #FFF;
    padding: 15px 35px;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    margin-left: 0px;
    cursor: pointer;
}

.header {
    background-color: rgba(0, 0, 0, 0.919);
}

.header_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.header-navigation {
    display: flex;
    list-style: none;
    font-size: 10px;
    gap: 15px;
}

.header-navigation__item {
    margin-right: 47px;
}

.header-navigation__item a {
    text-decoration: none;
    color: white;
}

.header-navigation__item a:hover {
    color: #E3B873;
}

.logo {
    color: #E3B873;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.hero {
    background-image: url(./image/d.jpg);
    background-size: cover;
    height: 707px;
    padding-top: 194px;
    position: relative;
    z-index: 1;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.518);
    z-index: -1;
}

.hero-container {
    margin-left: 210px;
    margin-top: -50px;
}

.title {
    margin: 0;
    color: #FFF;
    font-family: 'Yeseva One';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 132.825%;
    text-transform: uppercase;
}

.subtitle {
    color: #E3B873;
}

.paragraph-subtitle {
    color: #FFF;
    font-family: 'Nunito Sans';
    font-size: 22px;
    font-style: inherit;
    line-height: 163.68%;
}

.buttons {
    display: flex;
}

.ahref {
    text-decoration: none;
    text-shadow: none;
    color: white;
}


.b2 {
    width: 207px;
    height: 51px;
    font-size: 10px;
    padding: 18px 10px;
    border: 1px solid white;
    border-radius: 2px;
    border: 1;
    outline: 0;
    color: white;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 18px;
}

.number {
    font-style: normal;
    font-size: 12px;
    color: white;
    text-decoration: none;
}

.number a {
    color: white;
    text-decoration: none;
}

.number a:hover {
    text-decoration: none;
    color: #E3B873;
}









.b2 {
    cursor: pointer;
    background: transparent;
    border: 1px solid #ffffff;
    transition: 1s ease-in-out;
}

svg {
    fill: none;
    stroke: #09ff00;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
}


.b2:hover {
    transition: 1s ease-in-out;
    background: #ffffff;
    color: black;
}

.b2:hover svg {
    stroke-dashoffset: -480;
}

.b2 span {
    font-weight: 100;
}




.logo-type {
    margin-left: 175px;
}










.content {
    height: 1074px;
    background-color: #131313;
    position: relative;
}

.img_content {
    background-image: url(./image/c.png);
    position: absolute;
    width: 679px;
    height: 482px;
    top: 150px;
    right: 100px;
}

.block_content {
    padding: 45px 145px;
}

.t2 {
    font-size: 27px;
    color: #E3B873;
}

.s2 {
    color: #FFF;
    padding-top: 30px;
    line-height: 32px;
}

.cont1 {
    display: flex;
    padding-top: 45px;
    gap: 100px;
}

.t3 {
    font-size: 19px;
    color: #E3B873;
}

.s3 {
    color: #FFF;
}

.tt2 {
    margin-left: 40px;
}


.img_b {
    background-image: url(./image/a.png);
    width: 205.683px;
    height: 13.276px;
    margin-top: 70px;
}

.list {
    margin-top: -16px;
}

.knopka {
    cursor: pointer;
}

.nav_b {
    list-style: none;
    display: flex;
    color: rgba(255, 255, 255, 0.30);
    font-family: 'Yeseva One';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    gap: 60px;
    padding-top: 75px;
    padding-left: 910px;
}

.list_b:hover {
    cursor: pointer;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.t5 {
    padding-top: 100px;
    padding-left: 500px;
    font-size: 20px;
}

.border {
    width: 32px;
    height: 1.543px;
    border: 1px solid #E3B873;
    border-radius: 1px;
    margin-top: 15px;
    position: absolute;
    left: 530px;
}

.s1 {
    margin-left: 80px;
}

.logo_2 {
    display: flex;
    gap: 20px;
    padding-left: 570px;
    position: relative;
}





.logo-lo1 {
    margin-left: 100px;
}




.content {
    position: relative;
}

.white_block {
    position: relative;
}

.woman {
    top: -250px;
    left: 220px;
    position: absolute;
}

.woman_img {
    z-index: 1;
    width: 817px;
    height: 434px;
    top: 0px;
    left: 200px;
    position: absolute;
}

.black_a {
    width: 817px;
    height: 434px;
    background-color: rgba(0, 0, 0, 0.828);
    z-index: 2;
    position: absolute;
    left: 200px;
}

.knopka {
    margin-top: 140px;
    margin-left: 335px;
}


.white_content {
    height: 1500px;
    margin-top: 540px;
}

.brd {
    width: 55px;
    margin-top: -25px;
    margin-left: 270px;
}

.text_w {
    text-align: center;
    margin-top: -300px;
    margin-left: -0px;
}




.input {
    display: flex;
    margin-top: 135px;
    margin-left: 525px;
    gap: 50px;
}

.btn {
    width: 165px;
    cursor: pointer;
}

.text1 {
    color: rgba(54, 54, 54, 0.50);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
}

.text2 {
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    width: 200px;
    border-bottom: 1px solid #3636364b;
}


.inp_inp {
    color: #131313;
    font-weight: 400;
}






.first-checkbox {
    padding-top: 50px;
    margin-left: 730px;
}

.label {
    cursor: pointer;
    font-size: 14px;
    gap: 15px;
}

.checkbox {
    display: none;
    width: 18px;
    height: 18px;
}

.fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #E3B873;
    color: #fff;
    justify-content: center;
}

.fake::before {
    content: "\2714";
    opacity: 0;
    transition: .2s;
}

.checkbox:checked+.fake::before {
    opacity: 1;
}

.t6 {
    margin-top: 147px;
    color: #181818;
    margin-left: 500px;
    font-family: 'Yeseva One';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.group9 {
    margin-left: 530px;
    margin-top: 20px;
}




.block_wh_content {
    display: flex;
    margin-top: 50px;
    gap: 50px;
    margin-left: 225px;
}

.image_w_1 {
    position: relative;
}

.content_img {
    width: 330px;
    height: 286px;
    background-color: #FFF;
    position: absolute;
    top: 300px;
    left: 30px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.263);
}

.title_ci {
    color: #363636;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 25px 34px 0px;
}


.pon_list {
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.598px;
}

.btn2 {
    width: 228px;
    height: 54px;
    color: #FFF;
    font-family: Yeseva One;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0px 5px 15px 0px #E3B873;
    transition: box-shadow 200ms linear;
}


.btn2_t {
    width: 250px;
    cursor: pointer;
}



.content_e5 {
    padding-top: 350px;
    margin-left: 0px;
    position: relative;
    display: flex;
    gap: 231px;
    height: 1000px;

}

.zadni {
    position: absolute;
    top: 320px;
    left: -150px;
}

.b1 {
    width: 200px;
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}

.numb_1 {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 0px rgba(66, 66, 66, 0.188);
    background-color: #E3B873;
    padding: 10px 5px;
    color: #FFF;
    text-align: center;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    z-index: 1;
}

.text_1 {
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 5px;
    padding-left: 10px;
}

.t1 {
    padding-top: 15px;
}



.logo-type {
    margin-left: 285px;
}







.content-e5 {
    position: relative;
    height: 1600px;
    display: flex;
    margin-left: 150px
}

.home {
    top: 300px;
    left: -150px;
    position: absolute;
}

.block-e5 {
    padding-top: 400px;
    padding-left: 100px;
}



.cont-e5 {
    margin-bottom: 100px;
    display: flex;
}

.numb-e5 {
    border-radius: 100px;
    width: 50px;
    height: 50px;
    border: 5px solid white;
    background-color: #E3B873;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.295);
    padding-top: 10px;
    padding-left: 9px;
    color: #FFF;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 24.948px */
    z-index: 1;
}

.e1 {
    padding-left: 10px;
}

.e2 {
    margin-top: 8px;
}

.text-e5 {
    padding-top: 10px;
    color: #363636;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.q1 {
    margin-left: 10px;
}

.black-e5-content {
    width: 506px;
    height: 509px;
    background: #131313;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.05);
    margin-top: 395px;
    margin-left: 450px;
}

.title-e5 {
    color: #FFF;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
    /* 25.78px */
    margin-top: 25px;
}

.block-inpe5 {
    color: white;
    margin-left: 40px;
    margin-top: 35px;
}

.inp-e5 {
    margin-top: 40px;
}

.input-e5 {
    background-color: #09ff0000;
    color: rgb(255, 255, 255);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 22.915px */
}

.input-e5::placeholder {
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
}

.title-e6 {
    color: rgba(255, 255, 255, 0.50);
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.68%;
    /* 21.278px */
}

.subtitle-e5 {
    border-bottom: 1px solid rgba(255, 255, 255, 0.305);
    width: 420px;
}

.fc-1 {
    margin-top: -30px;
    width: 300px;
    margin-left: 0px;
}

.b5 {
    margin-top: 50px;
    margin-left: 200px;
    width: 213px;
    height: 51px;
}

.vidos {
    position: absolute;
    bottom: -20px;
    width: 1000px;
}


.logo-txt {
    display: flex;
    color: #E3B873;
    padding-top: 50px;
}

.txt {
    margin-top: 20px;
    color: #E3B873;
    text-shadow: 0px 3px 10px 0px rgba(227, 184, 115, 0.15);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.22%;
    /* 25.78px */
}

.white_content {
    position: relative;
}

.block-e7 {
    padding-top: 850px;
    margin-left: -150px;
}

.img-e7 {
    width: 1835px;
    height: 875px;
    position: absolute;
}

.block-black {
    width: 1695px;
    height: 875px;
    background-color: #000000be;
    position: absolute;
    margin-left: 140px;
    z-index: 1;
}

.block-bk1 {
    color: white;
    padding: 137px 99px;
}

.title-bk1 {
    color: #E3B873;
    font-family: Yeseva One;
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 37.422px */
    text-transform: uppercase;
}

.list-item {
    list-style: none;
    margin-left: -40px;
    width: 200px;
}

.list-bk1 {
    margin-bottom: 30px;
}

.list-bk1:hover {
    cursor: pointer;
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.l1 {
    width: 120px;
}

.l2 {
    width: 50px;
}

.l3 {
    width: 65px;
}

.l4 {
    width: 30px;
}

.l5 {
    width: 83px;
}

.l6 {
    width: 65px;
}

.l7 {
    width: 90px;
}

.l8 {
    width: 132px;
}

.l9 {
    width: 142px;
}

.l10 {
    width: 72px;
}

.l11 {
    width: 79px;
}

.block-gallery {
    position: absolute;
    z-index: 1;
    left: 65px;
}

.gy-1 {
    position: absolute;
}

.g1 {
    left: 587px;
    top: -35px;
    width: 354px;
    height: 557.883px;
}

.g2 {
    left: 984px;
    top: -115px;
}

.g3 {
    left: 984px;
    top: 200px;
}

.g4 {
    left: 587px;
    top: 560px;
}


.white-a1 {
    margin-top: 1000px
}

/* Title typography */



/* Title typography */


.logo-a1 {
    margin-left: 670px;
}

.a1 {
    color: #181818;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.logo_a1 {
    margin-left: 12px;
}

.subtitle-a1 {
    color: #363636;
    font-family: Nunito Sans;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    margin-left: -700px;
    font-weight: 400;
    line-height: 163.68%;
    /* 29.462px */
}

.reviews {
    display: flex;
    gap: 30px;
    margin-top: 50px;
    margin-left: 165px;
}

.block-rs {
    width: 376px;
    height: 428px;
    box-shadow: 0px 0.5px 10px 1px rgba(0, 0, 0, 0.1);
}

.ava {
    border-radius: 100px;
}

.log-title {
    display: flex;
    padding: 10px 10px;
}


.c1 {
    color: #181818;
    font-family: Yeseva One;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 127.05%;
    /* 22.869px */
    padding: 15px 20px;
}

.c-1 {
    color: #959595;
    font-family: Nunito Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    /* 23.4px */
    width: 324.079px;
    margin-left: 20px;
}

.text-c1 {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 23.562px */
    text-transform: uppercase;
    margin-left: 15px;
    margin-top: 5px;
}

.fake-btn {
    width: 150px;
    height: 44.035px;
    color: black;
    margin-top: 60px;
}

.icon {
    width: 32.345px;
    height: 31.345px;
    margin-left: -20px;
}

.cc-1 {
    display: flex;
}

.buttons-c1 {
    display: flex;
    gap: 3px;
}

.cc-2 {
    width: 167px;
}

.c1c {
    margin-left: 15px;
}

.cc-3 {
    width: 160px;
}

.cc-4 {
    width: 175px;
}

.aa1 {
    gap: 13px;
}

.button {
    box-shadow: 0px 2px 10px 0.5px #E3B873;
}







.city {
    opacity: 0.1;
    position: absolute;
    left: 0px;
    z-index: -1;
}

.city2 {
    opacity: 0.1;
    position: absolute;
    right: 0px;
    z-index: -1;
}

.inp-bck5 {
    width: 883px;
    height: 445.319px;
    background-color: #131313;
    color: white;
    margin-top: 200px;
    margin-left: 320px;
    z-index: 1;
}

.tck5 {
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}

.z1 {
    display: grid;
}

.inp-z1 {
    margin-top: 45.80px;
    margin-left: 181px;
    display: grid;
}

.shrek {
    display: flex;
    gap: 58px;
}

.e6 {
    width: 231px;
}

.e7 {
    width: 523px;
}

.e8 {
    margin-left: 130px;
    margin-top: -50px;
}

.e9 {
    margin-left: 190px;
    box-shadow: 0px 0px 10px 0px #E3B873;
}


.sect-5 {
    position: relative;
    z-index: 1;
}

.img_b {
    cursor: pointer;
}

.map {
    position: relative;
    margin-left: 145px;
}


.home-2 {
    position: absolute;
    top: 0px;
    left: -200px;
    width: 1573px;
    height: 953.898px;
}

.h1 {
    padding: 250px;
    color: #E3B873;
    text-align: center;
    font-family: Yeseva One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 138.6%;
    /* 27.72px */
    text-transform: uppercase;
}

.black-p {
    width: 1519px;
    height: 953.898px;
    background-color: black;
    margin-left: -145px;
    margin-top: -200px;
}

.icons {
    position: absolute;
    margin-left: 730px;
    margin-top: -220px;
}

.twogis {
    position: absolute;
    z-index: 1;
    align-items: center;
    margin-top: -150px;
    margin-left: 290px;
}






.footer {
    z-index: 5;
    position: absolute;
    width: 1519px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.919);
}

.footer_content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
}

.footer-navigation {
    display: flex;
    list-style: none;
    font-size: 10px;
    gap: 15px;
}

.footer-navigation__item {
    margin-right: 47px;
}

.footer-navigation__item a {
    text-decoration: none;
    color: white;
}

.footer-navigation__item a:hover {
    color: #E3B873;
}

.logo {
    color: #E3B873;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.e11 {
    font-size: 0px;
}














/* Медиа запросы для мобильной версий */

@media screen and (max-width: 914px) {

    main {
        width: 380px;
        margin-left: 0px;
    }

    .header_content {
        width: 350px;
    }

    .header {
        width: 412px;
    }

    .navigation_item {
        display: none;
    }

    .btn1 {
        display: none;
    }

    .logo {
        font-size: 11px;
        margin-left: 0px;
    }
    
    .number {
        font-size: 11px;
        margin-right: 0px;
    }

    .hero-overlay {
        width: 412px;
    }

    .hero-container {
        margin-top: -125px;
        margin-left: 0px;
        
    }

    .hero {
        background-image: url(./image/image\ 4.7.png);
        width: 412px;
    }

    .t1 {
        font-size: 23px;
        margin-left: 28px;
    }

    .paragraph-subtitle {
        font-size: 14px;
        margin-left: 28px
    }

    .buttons {
        display: grid;
        gap: 26px;
        margin-top: 50px;
        margin-left: 10px;
    }

    .b1 {
        width: 338.607px;
        height: 51px;
        margin-left: 18px;
    }

    .b2 {
        width: 338.607px;
        height: 51px;
    }

    

    .nav_b {
        display: none;
    }

    .img_content {
        background-image: url(./image/image\ 2.png);
        width: 340px;
        height: 241.355px;
        position: absolute;
        left: 35px;
        top: 250px;
    }

    .img_b {
        display: none;
    }

    .t2 {
        font-size: 22px;
        text-align: center;
    }

    .s2 {
        text-align: center;
        font-size: 11px;
        width: 350px;
        height: 86px;
        margin-left: auto;
        margin-right: auto;
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: 158.48%; /* 17.433px */
    }

    .t3 {
        font-size: 14px;
    }

    .s3 {
        font-size: 11px;
        width: 100px;
        margin-top: 8px;
        border-bottom: 1px solid rgba(255, 255, 255, 0);
        border: none;
    }

    .cont-class1 {
        margin-top: 300px;
    }

    .tt2 {
        margin-left: 0px;
    }

    .block_content {
        padding: 0px;
        padding-top: 36px;
    }

    .cont1 {
        margin-left: 25px;
    }

    .t5 {
        font-size: 22px;
        padding-left: 0px;
        margin-top: -50px;
    }

    .logo_2 {
        padding-left: 100px;
        padding-top: 10px;
    }

    .border {
        left: 20px;
    }

    .s1 {
        margin-left: 80px;
    }

    .content {
        height: 1450px;
        width: 412px;
    }

    .black_a {
        width: 340px;
        height: 207px;
        
    }

    .woman_img {
        width: 340px;
        height: 207px;
        
    }

    .woman {
        margin-left: -315px;
        width: 340px;
        height: 207px;
        margin-top: -400px;
    }

    .knopka {
        margin-top: 50px;
        margin-left: 125px;
        width: 100px;
        height: 100px;
    }

    .brd {
        position: absolute;
        margin-left: 50px;
      /*top: -670px;*/  
    }

    .text_w {
        margin-top: -940px;
        font-size: 10px;
        color: #FFF;
        width: 400px;
        text-align: center;
        height: 106.945px;
        margin-left: 5px;
    }

    .input {
        display: grid;
        margin-top: 10px;
        margin-left: 25px;
        line-height: 20px;
        
    }

    .text1 {
        color: white;
    }

    .text2 {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        width: 340px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.266);
        padding-bottom: 5px;
    }

    .fch1 {
        margin-left: 25px;
        margin-top: -180px;
        color: white;
    }
    
    .inp_inp {
        background-color: #09ff0000;
        color: white;
    }

    .inp_inp::placeholder {
        background-color: rgba(0, 0, 0, 0);
        color: white;
    }
    
    .btn {
        margin-top: 60px;
        width: 340px;
        height: 51px;
    }

    .logo-type {
        margin-left: 0px;
        margin-top: 0px;
    }

    .logo-lol1 {
        margin-left: 15px;
    }

    .t6 {
        font-size: 22px;
        width: 257px;
        height: 26px;
        margin-left: 100px;
        
    }

    .group9 {
        margin-left: 150px;
    }

    .block_wh_content {
        display: grid;
        margin-top: -50px;
        margin-left: 45px;
    }

    .par {
        width: 340px;
        height: 365.153px;
        margin-top: 100px;
    }

    .content_img {
        width: 270px;
        height: 241px;
        margin-left: -30px;
    }

    .title_ci {
        font-size: 15px;
    } 

    .list_item_ci {
        font-size: 12px;
    }

    .btn2 {
        width: 225.426px;
        height: 40px;
        font-size: 15px;
        margin-top: -13px;
    }

    .content-e5 {
        display: none;
    }

    .white-a1 {
        display: none;
    }

    .block-gallery {
        display: none;
    }

    .bt1 {
        width: 230px;
    }

    .btn2_t {
        width: 250px;
    }

    .list-item {
        display: none;
    }
    
    .img-e7 {
        display: none;
    }

    .block-black {
       background-color: #00000000;
       width: 0px;
       height: 0px;
       margin-left: 0px;
    }

    .sect-5 {
        margin-left: 0px;
        width: 0px;
    }

    .block-bk1 {
        width: 340px;
        height: 66px;
    }

    .city {
        display: none;
    }

    .city2 {
        display: none;
    }
    
    .black-p {
        display: none;
    }

    .title-bk1 {
        position: relative;
        margin-left: 100px;
        width: 300px;
        text-align: center;
        margin-top: -150px;
    }

    .home-2 {
        display: none;
    }

    .inp-bck5 {
        width: 412px;
        height: 1250px;
        margin-left: 0px;
        padding-top: 152px;
    }

    .footer {
        display: none;
    }

    .e9 {
        margin-left: 35px;
        margin-top: 25px;
    }

    .e8 {
        margin-left: 15px;
    }

    .shrek {
        display: grid;
        width: 300px;
    }

    .e7 {
        width: 300px;
    }
    
    .inp-z1 {
        margin-left: 0px;
        width: 300px;
    }

    .inp-e6 {
        width: 300px;
        margin-left: 15px;
    }

    .subtitle-e5 {
        width: 380px;
    }

    .class-toptop {
        background-image: url(./image/image\ 5.3.png);
        width: 340px;
        height: 242px;
        margin-left: 35px;
        margin-top: -280px;
    }

    .ponp {
        background-image: url(./image/ponp.png);
        width: 380.784px;
        height: 300.2px;
        margin-left: 17px;
    }

    .e11 {
        color: #E3B873;
        text-align: center;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%; /* 24.948px */
        text-transform: uppercase;
        width: 340px;
        height: 70.563px;
        margin-left: 35px;
    }

    .logo-logo1 {
        background-image: url(./image/jg.png);
        width: 98.893px;
        height: 39px;
        margin-left: 160px;
    }
}